<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" th:replace="~{layout :: page_navbar}">
</nav>
<div th:replace="~{messageEnregistrement :: message_enregistrement}"></div>
<div class="container pt-4">
    <form method="post" th:action="@{/updateAffectation}" th:object="${affectation}">
        <!-- fonction  employe Restaurant -->
        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="fonction">Fonction</label>
                        <select th:disabled="${affectation.id != null}" id="fonction" name="fonction">
                            <option th:each="fonction : ${fonctions}"
                                    th:value="${fonction.id}"
                                    th:text="${fonction.libelle}"
                                    th:selected="${fonction.id eq affectation.fonction.id}"/>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Employe</label>
                        <select th:disabled="${affectation.id != null}" id="employe" name="employe">
                            <option th:each="employe : ${employes}"
                                    th:value="${employe.id}"
                                    th:text="${employe.nom + ''+ employe.prenom}"
                                    th:selected="${employe.id eq affectation.employe.id}"/>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-check-label" for="restaurant">Restaurant</label>
                        <select th:disabled="${affectation.id != null}" id="restaurant" name="restaurant">
                            <option th:each="restaurant : ${restaurants}"
                                    th:value="${restaurant.id}"
                                    th:text="${restaurant.nom}"
                                    th:selected="${restaurant.id eq affectation.restaurant.id}"/>
                        </select>
                    </div>
                </div>
            </div>

            <!-- date embauche / isAdmin -->
            <div class="row ">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="dateDebut">Date debut</label>
                        <input th:disabled="${affectation.id != null}" type="date" id="dateDebut" class="form-control"
                               th:value="${affectation.dateDebut}"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="dateFin">Date fin</label>
                        <input th:disabled="${affectation.id != null}" type="date" id="dateFin" class="form-control"
                               th:value="${affectation.dateFin}"/>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row pt-4 pb-4">
                <div class="col">
                    <div class="form-outline text-center">
                        <a role="button" class="btn btn-primary rounded text-center"
                           th:href="@{/editerAffectation/{id}(id=${affectation.id})}">modifier
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<footer class="border-top bg-light text-muted text-center" th:replace="~{layout :: page_footer}">
</footer>
</body>

</html>