<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" th:replace="~{layout :: page_navbar}">
</nav>
<hr>
<!--Recherche d'affectations-->
<div class="container">
    <div class="row">
        <hr>
        <div class="col-lg-12">
            <div class="card search-form">
                <div class="card-body">
                    <form action="#" method="post" th:action="@{/rechercheAffectations}" th:object="${rechercheAffectation}">
                        <div class="row">
                            <div>
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="form-outline">
                                            <label class="form-label" for="dateDebut">Date debut</label>
                                            <input type="date" id="dateDebut" class="form-control" th:field="*{dateDebut}"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="form-outline">
                                            <label class="form-label" for="dateFin">Date fin</label>
                                            <input type="date" id="dateFin" class="form-control" th:field="*{dateFin}"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-12 ">
                                        <label class="form-label" for="ville">Ville</label>
                                        <select id="ville" name="ville">
                                            <option value=""></option>
                                            <option th:each="restaurant : ${restaurants}"
                                                    th:value="${restaurant.ville}"
                                                    th:text="${restaurant.ville}"
                                                    th:selected="${restaurant.ville eq rechercheAffectation.ville}"/>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-12 ">
                                        <label class="form-label" for="fonction_id">Fonction</label>
                                        <select id="fonction_id" name="fonction_id">
                                            <option value="0"></option>
                                            <option th:each="fonction : ${fonctions}"
                                                    th:value="${fonction.id}"
                                                    th:text="${fonction.libelle}"
                                                    th:selected="${fonction.id eq rechercheAffectation.fonction_id}"/>
                                        </select>
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12">
                                        <button type="submit" class="btn btn-base">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-search">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!--recherche d'affectations-->
<div class="container">
    <div class="row">
        <hr>

    </div>


    <!--    Liste affectations-->
    <hr>
    <div class="row">
        <table class="table align-middle bg-white">
            <thead>
            <tr>
                <th scope="col">Employe</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Poste</th>
                <th scope="col">date debut</th>
                <th scope="col">date fin</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="affectation: ${affectations}">
                <td th:text="${affectation.employe.nom} + ' '+ ${affectation.employe.prenom}"/>

                <td th:text="${affectation.restaurant.nom}"/>

                <td th:text="${affectation.fonction.libelle}"/>

                <td th:text="${affectation.dateDebut}"/>
                <td th:text="${affectation.dateFin}"/>
                <td>
                    <a role="button" class="btn btn-secondary rounded" th:href="@{/affectation/{id}(id=${affectation.id})}">
                        Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<footer class="border-top bg-light text-muted text-center" th:replace="~{layout :: page_footer}">
</footer>
</body>

</html>