<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" th:replace="~{layout :: page_navbar}">
</nav>
<!--Recherche d'affectations-->
<div class="container pt-4">
    <form action="#" method="post" th:action="@{/rechercheAffectations}"
          th:object="${rechercheAffectations}">
        <div th:replace="~{erreurRecherche :: erreur_recherche}"></div>
        <div class="card mx-auto">
            <div class="card-body">
                <div class="row justify-content-around">
                    <div class="col col-lg-3 ">
                        <div class="form-outline">
                            <label class="form-label" for="dateDebut">Date debut</label>
                            <input type="date" id="dateDebut" class="form-control"
                                   th:field="*{dateDebut}"/>
                        </div>
                    </div>
                    <div class="col col-lg-3 ">
                        <div class="form-outline">
                            <label class="form-label" for="dateFin">Date fin</label>
                            <input type="date" id="dateFin" class="form-control" th:field="*{dateFin}"/>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="row">
                            <label class="form-label" for="ville">Ville</label>
                        </div>
                        <div class="row">
                            <div class="col col-lg-2">
                            <select id="ville" name="ville">
                                <option value=""></option>
                                <option th:each="restaurant : ${restaurants}"
                                        th:value="${restaurant.ville}"
                                        th:text="${restaurant.ville}"
                                        th:selected="${restaurant.ville eq rechercheAffectations.ville}"/>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-2 ">
                        <div class="row">
                            <label class="form-label" for="fonction_id">Fonction</label>
                        </div>
                        <div class="row">
                            <div class="col col-lg-2">
                            <select id="fonction_id" name="fonction_id">
                                <option value="0"></option>
                                <option th:each="fonction : ${fonctions}"
                                        th:value="${fonction.id}"
                                        th:text="${fonction.libelle}"
                                        th:selected="${fonction.id eq rechercheAffectations.fonction_id}"/>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-2 pt-3">
                        <label class="form-label"></label>
                        <button type="submit" class="btn btn-secondary rounded">
                            rechercher
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<hr>
<div class="container">


    <!--    Liste affectations-->
    <div class="row">
        <table class="table align-middle bg-white">
            <thead>
            <tr>
                <th scope="col">Employe</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Poste</th>
                <th scope="col">Date debut</th>
                <th scope="col">Date fin</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="affectation: ${affectations}">
                <td th:text="${affectation.employe.nom} + ' '+ ${affectation.employe.prenom}"/>

                <td th:text="${affectation.restaurant.nom}"/>

                <td th:text="${affectation.fonction.libelle}"/>

                <td th:text="${affectation.dateDebut}"/>
                <td th:text="${affectation.dateFin}"/>
                <td>
                    <a role="button" class="btn btn-secondary rounded"
                       th:href="@{/detailAffectation/{id}(id=${affectation.id})}">
                        détails
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<footer class="border-top bg-light text-muted text-center" th:replace="~{layout :: page_footer}">
</footer>
</body>

</html>