<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" th:replace="~{layout :: page_navbar}">
</nav>

<div th:replace="~{messageEnregistrement :: message_non_enregistrement}"></div>
<form action="#" method="post" th:action="@{/creerEmploye}" th:object="${employeDTO}">
    <div class="container pt-4">
        <!-- Affichage des erreurs du formulaire-->
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <!-- nom prenom -->
        <div class="row ">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="prenom">Prénom</label>
                    <input type="text" id="prenom" class="form-control" th:field="*{prenom}"/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="nom">Nom</label>
                    <input type="text" id="nom" class="form-control" th:field="*{nom}"/>
                </div>
            </div>
        </div>
        <!-- mail password -->
        <div class="row ">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="email">E-Mail</label>
                    <input type="text" id="email" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="motDePasse">mot de passe</label>
                    <input type="password" id="motDePasse" class="form-control" th:field="*{motDePasse}"/>
                </div>
            </div>
        </div>

        <!-- date embauche / isAdmin -->
        <div class="row ">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="dateEmbauche">Date d'embauche</label>
                    <input type="date" id="dateEmbauche" class="form-control" th:field="*{dateEmbauche}"/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-check-label" for="admin">Administrateur</label>
                    <input class="form-check-input form-control" type="checkbox" id="admin" th:field="*{admin}"/>
                </div>
            </div>
        </div>
        <div class="row pt-4 pb-4">
            <div class="col">
                <div class="form-outline text-center">
                    <button type="submit" class="btn bg-success text-white rounded">Créer</button>
                </div>
            </div>
        </div>
    </div>
</form>
<footer class="border-top bg-light text-muted text-center" th:replace="~{layout :: page_footer}">
</footer>
</body>

</html>