<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" th:replace="~{layout :: page_navbar}">
</nav>

<form method="post" th:action="@{/creerAffectation}" th:object="${affectationDTO}">
    <input th:type="hidden" id="depuisRestaurant" th:field="*{depuisRestaurant}">
    <input th:type="hidden" id="depuisEmploye" th:field="*{depuisEmploye}">
    <!-- fonction  employe Restaurant -->
    <div class="container pt-4">
        <div th:replace="~{messageEnregistrement :: message_non_enregistrement}"></div>
        <!-- Affichage des erreurs du formulaire-->
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="fonction">Fonction</label>
                    <select id="fonction" name="fonction">
                        <option th:each="fonction : ${fonctions}"
                                th:value="${fonction.id}"
                                th:text="${fonction.libelle}"
                                th:selected="${affectationDTO.fonction !=null and fonction.id eq affectationDTO.fonction}"/>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="employe">Employe</label>
                    <select th:readonly="${!affectationDTO.depuisEmploye}" id="employe" name="employe">
                        <option th:each="employe : ${employes}"
                                th:value="${employe.id}"
                                th:text="${employe.nom + ''+ employe.prenom}"
                                th:selected="${affectationDTO.employe !=null and employe.id eq affectationDTO.employe}"/>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-check-label" for="restaurant">Restaurant</label>
                    <select th:readonly="${!affectationDTO.depuisRestaurant}" id="restaurant" name="restaurant">
                        <option th:each="restaurant : ${restaurants}"
                                th:value="${restaurant.id}"
                                th:text="${restaurant.nom}"
                                th:selected="${affectationDTO.restaurant !=null and restaurant.id eq affectationDTO.restaurant}"/>
                    </select>
                </div>
            </div>
        </div>

        <!-- date embauche / isAdmin -->
        <div class="row">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="dateDebut">Date debut</label>
                    <input type="date" id="dateDebut" class="form-control" th:field="*{dateDebut}"/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="dateFin">Date fin</label>
                    <input type="date" id="dateFin" class="form-control" th:field="*{dateFin}"/>
                </div>
            </div>
        </div>
        <div class="row pt-4 pb-4">
                <div class="form-outline text-center">
                    <button type="submit" class="btn text-white bg-success rounded">Créer</button>
                </div>
        </div>
    </div>
</form>
<footer class="border-top bg-light text-muted text-center" th:replace="~{layout :: page_footer}">
</footer>
</body>

</html>