<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" th:replace="~{layout :: page_navbar}">
</nav>

<form>
    <!-- nom prenom -->
    <div class="row ">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="prenom">Prénom</label>
                <input type="text" id="prenom" class="form-control" th:field="${employe.prenom}"/>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="nom">Nom</label>
                <input type="text" id="nom" class="form-control" th:field="${employe.nom}"/>
            </div>
        </div>
    </div>

    <!-- date embauche / isAdmin -->
    <div class="row ">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="dateEmbauche">Date d'embauche</label>
                <input type="date" id="dateEmbauche" class="form-control" th:field="${employe.dateEmbauche}"/>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-check-label" for="admin">Administrateur</label>
                <input class="form-check-input form-control" type="checkbox" id="admin" th:field="${employe.admin}"/>
            </div>
        </div>
    </div>

    <!--    Liste affectations-->
    <table class="table align-middle">
        <thead>
        <tr>
            <th>Fonction</th>
            <th>Restaurant</th>
            <th>Date debut</th>
            <th>Date fin</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="affectation: ${employe.affectations}">
            <td th:text="${affectation.fonction.libelle}"/>

            <td th:text="${affectation.restaurant.nom}"/>

            <td th:text="${affectation.dateDebut}"/>

            <td th:text="${affectation.dateFin}"/>
            <td>
                <a role="button" class="btn btn-secondary rounded" th:href="@{/affectation/{id}(id=${affectation.id})}">
                    Edit
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Submit button -->
    <button type="button" class="btn btn-secondary rounded">Place order</button>
</form>

<footer class="border-top bg-light text-muted text-center" th:replace="~{layout :: page_footer}">
</footer>
</body>

</html>