<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" th:replace="~{layout :: page_navbar}">
</nav>


<hr>
<div th:replace="~{messageEnregistrement :: message_enregistrement}"></div>
<form>
    <!-- nom -->
    <div class="row ">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="nom">nom</label>
                <input th:disabled="${restaurant.id != null}" type="text" id="nom" class="form-control" th:value="${restaurant.getNom()}"/>
            </div>
        </div>
    </div>

    <!-- adresse -->
    <div class="row ">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="adresse">Adresse</label>
                <input th:disabled="${restaurant.id != null}" type="text" id="adresse" class="form-control disabled"
                       th:value="${restaurant.adresse}"/>
            </div>
        </div>

        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="codePostal">Code Postal</label>
                <input th:disabled="${restaurant.id != null}" type="text" id="codePostal" class="form-control" th:value="${restaurant.codePostal}"/>
            </div>
        </div>

        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="ville">Ville</label>
                <input th:disabled="${restaurant.id != null}" type="text" id="ville" class="form-control" th:value="${restaurant.ville}"/>
            </div>
        </div>
    </div>

    <!--    &lt;!&ndash; Submit button &ndash;&gt;-->
    <!--    <button type="button" class="btn btn-secondary rounded">Place order</button>-->

    <!--    Liste affectations-->
    <hr>
    <table class="table align-middle bg-white">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Date debut</th>
            <th scope="col">Date fin</th>
            <th scope="col">Fonction</th>
            <th scope="col"><a role="button" class="btn btn-secondary rounded" th:href="@{'/creerAffectation?restaurant='+${restaurant.id}}">créer</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="affectation: ${restaurant.affectations}">
            <td th:text="${affectation.employe.nom}"/>

            <td th:text="${affectation.employe.prenom}"/>

            <td th:text="${affectation.dateDebut}"/>

            <td th:text="${affectation.dateFin}"/>

            <td th:text="${affectation.fonction.libelle}"/>
            <td>
                <a role="button" class="btn btn-secondary rounded" th:href="@{/detailAffectation/{id}(id=${affectation.id})}">
                    details
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</form>


<footer class="border-top bg-light text-muted text-center" th:replace="~{layout :: page_footer}">
</footer>
</body>

</html>